.slideshow {
   height: 500px;
   width: 1000px;
   position: relative;
}

.slideshow > div {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  background-size: cover;
  background-position: left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slideshow > div.visible {
  opacity: 1;
}
